<!DOCTYPE html>
<html lang="en">
    <%- include('./../partials/head') -%>  
    <body class="products">
    <%- include('./../partials/header') -%> 

    <h2 class="list">Nuestro Cafe</h2>
  <section class="contenedor-productos">
    <% products.forEach(function(articulo){ %>
                   <article class="box-article">
                     <a href="/products/detail/<%= articulo.id %>">
                     <img src="/images/productsImage/<%= articulo.image %>" width='250' alt="product image">
                       <ul>
                        <li><p><%= articulo.name %></p></li>
                        <li><p>Tipo:<%= articulo.category %></p></li>
                        <li><p>$<%= articulo.price %></p></li>
                       </ul>                     
                       <ul class="actions-list">
                           <li>
                               <i class="fas fa-credit-card"></i>
                               <p>Pagá en 3 cuotas sin interes</p>
                           </li>
                        </ul>
                          <a href="../cart" class="buy-now-button">COMPRAR AHORA</a>
                       <br>
                      </a>
                    </article>     
                          
        <% })%>
            
    </section>


    <h2 class="list">Nuestro Chocolate</h3>
        
    <section id="chocolates"> 
      <div class="container">
                 
                
         <article>
            <h4 class=>Chocolate 40% Cacao</h4>
            <div class="linea-division"></div>
            <p class="sabor"></p>
              <img src="/images/productsImage/13-chocolate.jpg" alt="" width="200">
         </article> 
                    
         <article>
           <h4 class=>Chocolate 70% Cacao</h4>
           <div class="linea-division"></div>
           <p class="sabor"></p>
           <img src="/images/productsImage/14-chocolate.jpg" alt="" width="200">
         </article>
                  
                   
          <article> 
            <h4 class>Chocolate 90% Cacao</h4>
            <div class="linea-division"></div>
            <p class="sabor"></p>
            <img src="/images/productsImage/15-chocolate.jpg" alt="" width="200">
          </article>
                
            </div>
    </section><br>


    <%- include('./../partials/footer') %>

  <!-- <scrip src=""> -->
  </body>

</html>
