<!DOCTYPE html>
<html>
  <%- include('./../partials/head') %>

  <body>
    <%- include('./../partials/header') %>   

     <title>Editando productos</title>

     
<main class="EditarProductos">
<form action="/products/edit/<%= productsEdit.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
    
   <p> <label> Edita el nombre del producto</label></p>
    
    <input type="text" id="name" name="name" value="<%= productsEdit.name %>" class="form-input">

    <p><label>Descripción</label></p>
    <textarea name="description" id="description" class="form-input" value="<%= productsEdit.description%>" cols="30" rows="10"></textarea><br>
    
    <p><label>Imagen</label></p>
    <input type="file" class="form-input"><br>
    <img src="/images/productsImage/<%= productsEdit.image %>" alt="">

    <br>

    <p><label>Categoría</label></p>
    <select  name="category" class="category" required> 
      <option value="" disabled >Elegir categoria</option>

      <% categories.forEach(category => { %>
        <option value="<%= category.id %>" 
          
        >

          <%= category.category %></option>
     
        <%  }) %>
    
        </select><br>

        <p><label>Presentación</label></p>
        <select value="presentation" name="presentation" class="presentation" required> 
           <option value="" disabled >Elegir presentacion</option>
           
           <% presentations.forEach(presentation => { %>
             <option value="<%= presentation.id %>" ><%= presentation.quantity %></option>
          
             <%  }) %>
         
             </select><br> 
    
    <p><label>Precio</label></p>
    <input type="number" value="<%= productsEdit.price  %>" class="precio"><br>
    
    <!-- <p><label>Destacado</label></p>
    <select> 
    <p><option value="true">Si</option></p>
    <p><option value="false">No</option></p>
    </select><br>
    
    
    
     -->
    
    <input type="submit"  value="Editar" class="form-input"><br>
    
    
    <input type="reset" value="Borrar" class="Borrar"><br>

</form>
</main>


    <!-- footer -->
    <%- include('./../partials/footer') %>   
</body>
</html>