<html>
  <%- include('../partials/head') -%>

  <body>
    <%- include('../partials/header') -%>
    
<div class="container products-wrapper">
  <div class="row">
         <div class="col-12">
             <h2 class="products-title">Nombre de Usuario:  <%= user.name %></h2>
         </div>
     </div>
     <div class="product-detail">
      <div class="row">
          <div class="col-12 col-lg-8">
              <img src="/images/usersImage/<%= user.image %>" class="product-detail-img">
              <p class="product-detail-description">
                  <%= user.email %>
              </p>
          </div>
          <div class="col-12 col-lg-4">
            <form method="POST" action="/users/delete/<%= user.id %>?_method=DELETE"  style="display: inline-flex">
              <button type="submit" class="action-button delete">ELIMINAR</button>
              </form>
              </article>
          </div>
      </div>
  </div>
        
</main>

<!-- footer -->
  <%- include('../partials/footer') %>
</body>
</html>