<html>
    <!-- head-->
    <%- include('../partials/head') -%>
<body>
    <%- include('../partials/header') %>   

    <title>Informacion del Usuario</title>
    
    <p><%=userDetail.id%> </p>

    <a href="../delete/<%= userDetail.id %>">Borrar usuario</a>
    <a href="../edit/<%= userEdit.id %>">Borrar usuario</a>
    


 

    
     <!-- footer -->
     <%- include('../partials/footer') %>   
</body>
</html>