<html>
    <!-- head-->
    <%- include('../partials/head') -%>
<body>
    <%- include('../partials/header') %>   

    <h2 class="list">Informacion del Usuario</h2>
    <div class="detail-usuario">
        <table class="tabla-detail-users">
            <tr>
                <td><h4>Nombre</h4></td>
                <td><p><%= user.name %></p></td>
            <tr>
                <td><h4>Email</h4></td>
                <td><p><%= user.email %></p></td>
            <tr>
                <td><h4>Foto</h4></td>
                <td><img src="/images/usersImage/<%= user.image %>" alt="user image" class="user-img" width="150"></td> 
            <tr>
                <td><h4>Perfil de usuario</h4></td>
                <td><p><%= user.profile_id %></p></td>            
            </table>    
    <div class="button">
        <a href="../delete/<%= user.id %>"><input type="button" value="Borrar usuario"></a>
        <a href="../edit/<%= user.id %>"><input type="button" value="Editar usuario"></a><br>
    </div>    
    </div>  
    <a href="/users"><input type="button" value="back" class="back-button"></a>
    


 

    
     <!-- footer -->
     <%- include('../partials/footer') %>   
</body>
</html>