<!DOCTYPE html>
<html>
  <!-- head-->
    <%- include('../partials/head') -%>
<!-- header -->
<%- include('../partials/header') %>

<body>
 
    <main>
      <div class="register">
      <% if (locals && locals.errors && locals.errors.length > 0) { %>
        <% for(let i = 0; i < locals.errors.length; i ++) { %> 
          <p><%= locals.errors[i].msg %> </p>
         <% } %>
        <% }%>

      <form action="/users/register" method="POST"> 
        <ul>
        <li> 
          <b><label>Nombre y apellido:</label></b>
          <input type="text" name="name" value="<%= locals.old && old.name ? old.name : ''  %>" ><br>
        </li>
        <li>
        <label><b>E-mail:</b></label>
        <input type="email" name="email" value="<%= locals.old && old.email ? old.email : '' %>" ><br>
        <br></li>
        <li>
        <label><b>Fecha de nacimiento</b></label>
        <input type="date" name="birth_date" id="birth_date" value="<%= locals.old && old.birth_date ? old.birth_date : '' %>"/>
        <br>
        </li>
        <li>
        <label><b>Domicilio</b></label>
        <input type="text" name="adress" value="<%= locals.old && old.adress ? old.adress : '' %>">
        </li>  
      </ul>
      <br>
        <label><B>Perfil del usuario</B></label>
        <div class="profile_id">
          <p>
            <select name="profile_id" id="" required>
                <option value="" disabled selected>- seleccione su perfil - </option>
                <% allProfile.forEach(profile => { %>
                <option value="<%= profile.id %>"><%= profile.profile %></option>
                <% }); %>
            </select>
          </p>
                </div>

       
           <label><b>Contraseña</b></label>
           <input type="password" name="pass" placeholder="Elegí tu contraseña" maxlength="30" pattern="[A-Za-z0-9@#$%!]{8,20}"/>

          <div class="register-button">      
           <input type="submit" value="Registrarse">    
          <div>     
           </form>
      </div>
    </div>
    </div>
    <a href="/"><input type="button" value="Volver" class="back-button"></a>
  
  </main>
      <!-- footer -->
      <%- include('../partials/footer') %>
  </body>
</html>
